.kb
    &-title
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 29px
        text-align: center
        letter-spacing: 0.01em
        color: #000000
    &-input
        border: 1px solid #C5C6CC
        border-radius: 12px
        font-weight: 400
        font-size: 14px
        line-height: 20px
        padding: 16px
        margin-bottom: 20px
    &-button
        padding: 12px 16px
        background: #006FFD
        border-radius: 12px
        cursor: pointer
        font-weight: 600
        font-size: 12px
        line-height: 15px
        color: #FFFFFF
        padding: 16px
    &-span
        font-weight: 400
        font-size: 12px
        line-height: 16px
        letter-spacing: 0.01em
        color: #71727A
.button-esia
    width: 180px
    height: 35px
    background: url("../images/esia.svg") center no-repeat
    background-size: cover
    margin: 0 auto

